*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.MusicPlayerContainer{
    padding: 0;
    margin: 0px;
    
    height: auto;
    position: sticky;
    align-self: center;
    bottom: 0px;

}

.Podcastlistcontainer{
    margin-bottom: 150px;
}